<%- include('../../partials/header_Admin') %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ingresar | Funkoshop</title>
        <link rel="stylesheet" href="../css/index.css"/>
        <link rel="stylesheet" href="../css/admin_styles/login.css"/>
    </head>
    <body class="body__class">
        <main class="register-content container">
            <h3 class="register-title">INGRESAR A MI CUENTA</h3>

            <form class="form-content" action="">
                <section class="form-input">
                    <p>Email:</p>
                    <input type="email" name="email" placeholder="johndoe@correo.com" required/>
                </section>

                <section class="form-input">
                    <p>Contraseña</p>
                    <input
                    type="password"
                    name="password"
                    placeholder="ingrese contraseña"
                    required
                    />
                </section>

                <section class="form-button">
                    <button>Ingresar</button>

                    <div class="form-checkbox">
                        <input class="checkbox" id="checkbox" type="checkbox"/>
                        <label for="checkbox">Recordarme</label>
                    </div>
                </section>
            </form>
            <a class="login__promo" href="">Olvidé mi contraseña</a>
        </main>

        <%- include('../../partials/footer') %>
        
        <script src="../js/cart.js"></script>
    </body>
</html>