<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Carrito | FunkoShop</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/cart.css">
</head>
<body>
    <main class="body-cart container">

        <h1>CARRITO DE COMPRAS</h1>

        <div class="grilla-compra">

            <div class="subtitulo-compras">
                <h3 id="subt_detalle">DETALLE DE PRODUCTO</h3>
                <h3 id="subt_cantidad">CANTIDAD</h3>
                <h3 id="subt_total">TOTAL</h3>
                <h3></h3>
            </div>
    
            <div class="funko-compra">
                <section class="detalle-item">
                    <img src="../img/star-wars/baby-yoda-1.webp" alt="babyyoda">

                    <article class="contenedor-detalle">
                        <h2>BABY YODA BLUEBALL</h2>
                        <h4>STAR WARS</h4>
                        <p id="precio">Precio unitario: $ 1799,99</p>
                    </article>
                </section>

                <section class="contenedor-cantidad">
                        <input type="text" name="cantidad" id="quantity" class="cantidad-1" placeholder="0">
                        <button class="btn-agregar" id="add">+</button>
                        <button class="btn-eliminar" id="substract">-</button>
                </section>

                <section class="contenedor-total">
                    <span>$ 1799,99</span>
                </section>

                <div>
                    <button class="btn-eliminar">
                        <img src="../img/icons/delete_trash.svg" alt="borrar">
                    </button>
                </div>
            </div>
            
            <div class="funko-compra">
                <section class="detalle-item">
                    <img src="../img/pokemon/pidgeotto-1.webp" alt="babyyoda">
                    <article class="contenedor-detalle">
                        <h2>PIDGEOTTO</h2>
                        <h4>POKEMON</h4>
                        <p>Precio unitario: $ 1799,99</p>
                    </article>
                </section>

                <section class="contenedor-cantidad">
                    <input type="text" name="cantidad" class="cantidad-1" id="quantity" placeholder="0">
                    <button class="btn-agregar" id="add">+</button>
                    <button class="btn-eliminar" id="substract">-</button>
                </section>

                <section class="contenedor-total">
                    <span>$ 1799,99</span>
                </section>

                <div>
                    <button class="btn-eliminar">
                        <img src="../img/icons/delete_trash.svg" alt="borrar">
                    </button>
                </div>
        </div>

        <section class="contenedor-resumen container">
            <div class="titulo-resumen">
                <h1>RESUMEN</h1>
            </div>
            
            <div class="contenedor-datos">
                <section class="dato">
                    <h4>CANTIDAD DE ELEMENTOS</h4>
                    <p class="dato_numero">3</p>
                </section>

                <section class="dato">
                    <h4>SUBTOTAL</h4>
                    <p class="dato_numero">$5.399,97</p>
                </section>

                <section class="dato">
                    <h4>ENVIO</h4>
                    <p class="dato_numero">$0,00</p>
                </section>

                <hr>

                <section class="dato total">
                    <h3>TOTAL</h3>
                    <p class="dato_numero" id="total-resumen">$5.399,97</p>
                </section>
            </div>
            
            <a href="" class="btn-pagar">IR A PAGAR</a>
        </section>
    </main>

    <%- include('../partials/footer') %>

    <script src="../js/item.js"></script>
    <!-- <script src="../js/shop.js"></script> -->
</body>
</html> 