<header>
    <nav class="navbar container">
        <picture class="navbar__logo">
            <a href="/"><img src="/img/branding/logo_light_horizontal.svg" alt="Isologotipo de la Marca Funkoshop"/></a>
        </picture>
        <ul class="navbar__menu">
            <li class="navbar navbar__link">
                <a href="/shop" target="_blank"">VER TIENDA</a>
            </li>
            <li class="navbar navbar__link">
                <a href="/admin">ADMIN</a>
            </li>
            <li class="navbar navbar__link"><a href="/">SALIR</a></li>
        </ul>
    </nav>
</header>